.plano-clube{
    border: none;
    cursor: pointer;
    display: flex;
    margin: 100px auto;
}

.plano-clube img{
    width: 200px;
    height: 200px;
}

.livros{
    display: none;
    width: 100vw;
}

.livros-container{
    display: flex;
    flex-direction: row;
}

.livros-img{
    /* margin: 100px 40px 0 70px; */
    width: 33,33%;
    margin: 80px 0 0 80px;
}

/* .livros-img img{
    width: 200px;
    height: 300px;
} */

 /* .livros-img p{
    margin-left: 18px;
    font-size: 18px ;
    font-weight: bold;
}  */

.livro-autor1{
    margin-left: 105px;
    font-weight: bold;
}

.livro-autor-padrao1{
    margin-left: 90px;
    font-weight: bold;
}

.livro-autor3{
    margin-left: 80px;
    font-weight: bold;
}

.livro-autor-padrao5{
    margin-left: 122px;
    font-weight: bold;
}

.livro-autor-padrao6{
    margin-left: 100px;
    font-weight: bold;
}

.texto-resumo-livro{
    width: 300px;
    display: none;
}

.resumo-livro{
    width: 300px;
    margin-left: 15px;
}

.btn-escolher{
    width: 150px;
    margin: 25px  0 0 80px;
}
