.btn-club-plan{
    border: none;
    cursor: pointer;
    display: flex;
    margin: 100px auto;
}

.btn-club-plan img{
    width: 200px;
    height: 200px;
}

.books{
    display: none;
    width: 100vw;
}

.books-container{
    display: flex;
    flex-direction: row;
}

.books-img{
    /* margin: 100px 40px 0 70px; */
    width: 33,33%;
    margin: 80px 0 0 80px;
}

/* .books-img img{
    width: 200px;
    height: 300px;
} */

 /* .books-img p{
    margin-left: 18px;
    font-size: 18px ;
    font-weight: bold;
}  */

.book-author1{
    margin-left: 105px;
    font-weight: bold;
}

.livro-autor-padrao1{
    margin-left: 90px;
    font-weight: bold;
}

.livro-autor3{
    margin-left: 80px;
    font-weight: bold;
}

.livro-autor-padrao5{
    margin-left: 122px;
    font-weight: bold;
}

.livro-autor-padrao6{
    margin-left: 100px;
    font-weight: bold;
}

.texto-resumo-livro{
    width: 64%;
}

.book-informations{
    display: none;
    /* position: absolute;
    margin-left: 500px;
    margin-top: -553px; */
    margin: 81px 0 0 150px;
}

.resumo-livro{
    width: 300px;
    margin-left: 15px;
}

/* .btn-escolher{
    width: 150px;
} */

.btn-close{
    display: none;
}

.books-1{
    display: flex;
}
